.idea
.env
composer.lock
/vendor
/public/nginx.htaccess
.phpunit.result.cache
dcat_admin_ide_helper.php
/database/update_bak.sql

/resources/js
/node_modules
/public/build
/public/mix-manifest.json
package.json
webpack.mix.js
yarn.lock
npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml






